html,body {
     margin: 0;
     padding: 0;
     height: 100%;
 }

/* Sheldon, please explain clearfix. */
.clear:after {
    clear: both;
    content: "";
    display: table;
}

div {
     width: 200px;
     height: 200px;
     padding: 0;
     margin: 0 20px 20px 0;
     float: left;
     background-color: gray;
 }

#main {
    width:220px;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 20px 0 0 20px;
    background-color: #f00;
    float: none;
}

/* media queries that change the width of #main: breakpoints 440 660 880 1100*/

/* question about viewport and scrollbars: they don't seem to be calculated... */

@media only screen and (min-width: 460px) {
    #main {
        background-color: #d11 ;
        width: 440px;
    }
}

@media only screen and (min-width: 680px) {
    #main {
        background-color: #b22;
        width: 660px;
    }
}

@media only screen and (min-width: 900px) {
    #main {
        background-color: #933;
        width: 880px;
    }
}

@media only screen and (min-width: 1120px) {
    #main {
        background-color: #744;
        width: 1100px;
    }
}

@media only screen and (min-width: 1340px) {
    #main {
        background-color: #555;
        width: 1320px;
    }
}
